/* Sergio Gonzalez Martinez UO300798 */
/* Estilos generales del proyecto MotoGP-Desktop */

/* Selector: body -> especificidad 0,0,1 */
body {
    background-color: #ffffff;  
    color: #000000;             
    font-family: Tahoma, Arial, Verdana, sans-serif; 
}

/* Selector: header -> especificidad 0,0,1 */
/* Hereda el color de body */
header {
    background-color: #e0b7a5;  
}

/* Selector: h1 -> especificidad 0,0,1 */
/* Hereda el background color de body */
h1 {
    color: #a45c40;             
}

/* Selector: nav -> especificidad 0,0,1 */
/* Hereda el background color de body */

nav {
    color: #e4b7a0;            
}
