/* Sergio Gonzalez Martinez UO300798 */
/* Estilos generales del proyecto MotoGP-Desktop */

/*especificidad 0,0,1 */
body {
    background-color: #7ec8e3;  
    color: #000c66;              
    font-family: Tahoma, Arial, Verdana, sans-serif; 
}

/*especificidad 0,0,1 */
header {
    background-color: #050a30;  /* Validación CSS: falta color, se hereda de body */
}

/*especificidad 0,0,2 */
header h1 {
    color: #ffffff;     /* Validación CSS: falta background-color, se hereda de header */
}

/*especificidad 0,1,2 */
nav a.active {
    color: #ffffff;     /* Validación CSS: falta background-color, se hereda de nav */              
    text-decoration: underline;  
    font-size: 2rem;    
}

/*especificidad 0,0,3 */
p > a + strong {
    font-size: 1.5rem;            
    font-weight: bold;
}

/*especificidad 0,0,2 */
header a {
    text-decoration-line: none;  
    color: #ffffff;     /* Validación CSS: falta background-color, se hereda de header */
    font-size: 2rem;
}

/*especificidad 0,1,1 */
a[href^="http"] {
    color: #0000ff;     /* Validación CSS: falta background-color, se hereda del contenedor padre */              
    text-decoration: none;
    font-weight: bold;
}

/*especificidad 0,2,1 */
a[href^="http"]:visited {
    color: #000c66;     /* Validación CSS: falta background-color, se hereda de a[href^="http"] */              
}

/*especificidad 0,2,1 */
a[href^="http"]:hover {
    color: #050a30;     /* Validación CSS: falta background-color, se hereda de a[href^="http"] */               
    text-decoration: underline;
}

/*especificidad 0,2,1 */
a[href^="http"]:active {
    color: #0000ff;     /* Validación CSS: falta background-color, se hereda de a[href^="http"] */           
}

/*especificidad 0,0,1 */
table {
    border-collapse: collapse;
    font-size: 1rem;
}

/*especificidad 0,0,2 */
table caption {
    font-weight: bold;
    font-size: 1.2rem;
    color: #0000ff;     /* Validación CSS: falta background-color, se hereda de table */              
}

/*especificidad 0,0,2 */
table th, table td {
    border: 1px solid #0000ff;   
}

/*especificidad 0,0,2 */
table th {
    background-color: #000c66;   
    color: #ffffff;             
}

/*especificidad 0,0,1 */
dl {
    background-color: #7ec8e3;   /* Validación CSS: falta color, se hereda de body */
    border-radius: 8px;
    font-family: Tahoma, Arial, Verdana, sans-serif;
}

/*especificidad 0,0,2 */
dl dt {
    font-weight: bold;
    color: #0000ff; /* Validación CSS: falta background-color, se hereda de dl */             
    font-size: 1.2rem;
}

/*especificidad 0,0,2 */
dl dd {
    font-size: 1rem;
    color: #000c66; /* Validación CSS: falta background-color, se hereda de dl */             
    line-height: 1.5;
}