/* Sergio Gonzalez Martinez UO300798 */
/* Estilos generales del proyecto MotoGP-Desktop */

/* Selector: body -> especificidad 0,0,1 */
body {
    background-color: #f6eee0;  /* Cream */
    color: #a45c40;             /* Desert Sun */
    font-family: Tahoma, Arial, Verdana, sans-serif; 
}

/* Selector: header -> especificidad 0,0,1 */
header {
    background-color: #c38370;  /* Coral */
}

/* Selector: h1 -> especificidad 0,0,1 */
h1 {
    color: #a45c40;             /* Desert Sun */
}

/* Selector: nav -> especificidad 0,0,1 */
nav {
    color: #e4b7a0;             /* Peach */
}
