/* Sergio Gonzalez Martinez UO300798 */
/* Hoja de estilo para el layout de las cartas del proyecto MotoGP-Desktop */

/* especificidad: 0,0,1 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em; 

    justify-items: center; 
}

/* especificidad: 0,0,2 */
main h2,
main p {
    grid-column: 1 / -1;
    justify-self: center; 
    margin: 0;
    padding: 0.5em 0;
}

/* especificidad: 0,0,2 */
main h2 {
    text-align: center;
}

/* especificidad: 0,0,2 */
main p {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: #000000; /* Validación CSS: falta background-color, se hereda de body */
}

@media (min-width: 320px) and (max-width: 799px) {

    /* especificidad: 0,0,1 */
    main {
        grid-template-columns: repeat(2, 1fr);  /* Validación CSS: Redefinición de grid-template-columns de main */
    }
}