header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

header nav {
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
}

body > div#mapa {
    width: 90%;
    height: 70vh;  
    margin: 2em;
}

@media (min-width: 320px) and (max-width: 799px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    p.breadcrumbs {
        display: none;
    }

    video {
        width: 100%;
        height: auto;
        margin-bottom: 1rem; 
    }

    audio {
        width: 100%; 
        margin-top: 0.5rem;
    }

   table {
        width: 100%;
        font-size: 0.8rem; 
        border-collapse: collapse;
        table-layout: fixed; 
        word-wrap: break-word; 
        overflow-x: hidden; 
    }

    table th, table td {
        padding: 0.3rem 0.3rem;
    }

    table caption {
        text-align: left;
        margin-left: 0.5rem;
        font-size: 1rem;
    }

    article h2 + img {
        width: 100%;   
        height: auto;  
    }

    body > div#mapa {
        width: 100%;
        height: 60vh;
        margin: 1em 0;
        border: 2px solid #333;
    }

    main img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    article svg {
        max-width: 100%;
        height: auto;
        display: block;
    }

    main p img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    
}