main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em; 

    justify-items: center; 
}


main h2,
main p {
    grid-column: 1 / -1;
    justify-self: center; 
    margin: 0;
    padding: 0.5em 0;
}


main h2 {
    text-align: center;
}
main p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}

@media (min-width: 320px) and (max-width: 799px) {

    main {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em; 
    }
}