header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

header nav {
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
}

@media (min-width: 320px) and (max-width: 799px) {
    /* Header: apilar elementos verticalmente (redefiniendo Flexbox) */
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Navegación: enlaces en vertical (redefiniendo Flexbox) */
    header nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    /* Migas de pan: ocultar en móviles */
    p.breadcrumbs {
        display: none;
    }

    /* Video y audio: ocupar todo el ancho (redefiniendo width y height) */
    video {
        width: 100%;
        height: auto;
        margin-bottom: 1rem; /* separar del audio */
    }

    /* Audio: tamaño natural o ancho fijo */
    audio {
        width: 100%; /* o puedes poner width: auto; si quieres su tamaño nativo */
        margin-top: 0.5rem;
    }

   table {
        width: 100%;
        font-size: 0.8rem; /* más pequeña */
        border-collapse: collapse;
        table-layout: fixed; /* hace que las columnas se repartan equitativamente */
        word-wrap: break-word; /* permite que el texto se divida */
        overflow-x: hidden; /* elimina el scroll horizontal */
    }

    table th, table td {
        padding: 0.3rem 0.3rem;
    }

    table caption {
        text-align: left;
        margin-left: 0.5rem;
        font-size: 1rem;
    }
}